@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    /* font-family: 'Space Grotesk'; */
}



/* globals.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root, #__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
