@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 'white';
  --background-start-rgb: 'white';
  --background-end-rgb: 'white';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-start-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));

    /* font-family: 'Space Grotesk'; */
}


/* globalStyles.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8c8c8c #e0e0e0;
}

/* Works on Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 10px;
  border: 3px solid #e0e0e0;
}





/* globals.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root, #__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
